body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.divContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
  height: 610px;
}

.divContainer div {
  background-color: green;
  width: 10px;
}
